*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: spartan;
    color: white;
}
.ham{
    color: white;
    font-size: 50px;
    float: right;
}
nav{
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    background-color: #010102f6;
    text-align: center;
    padding: 10px 10px;
}
nav ul{
    list-style-type: none;
    float: right;
}
nav ul li{
    float: left;

}
nav a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: white; 
    padding: 10px;  
    margin: 0 5px;
    transition: all 0.2s;
}
nav a:hover{
    padding: 10px 8px;
    letter-spacing: 1.5;
    color: #E3436D;
}
header{
    background: linear-gradient(rgb(0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("/assets/bkh12.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    position: relative;
}
h1{
    margin: 0;
    font-family: spartan;
    font-weight: 200;
    letter-spacing: 1px;
}
h3{
    margin: 0;
    font-family: spartan;
    font-weight: 200;
    font-size: 15px;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2{
    margin: 0;
    font-family: spartan;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
}
.text-box a{
    text-decoration: none;
    border: 1px solid white;
    font-family: spartan;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 50px;
    color: #E3436D;
    letter-spacing: 0px;
    transition:  all 0.4s;
}
.text-box a:hover{
    border-color: white;
    letter-spacing: 1px;

}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span{
    color: #E3436D;
}
.section-a{
    background-color: white;
    position: relative;
    padding: 70px 50px 100px 50px;
    text-align: center;
    color: black;
    
}
.section-a h1, .section-b h1, .section-c h1{
    margin: 0;
    font-family: spartan;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
}
.section-a h1:after , .section-b h1:after, .section-c h1:after,.section-d h1:after{
    content: " ";
    display: block;
    height: 2px;
    background-color: #E3436D;
    width: 100px;
    margin: 10px auto;
}
.section-c h2:after{
    content: " ";
    display: block;
    height: 2px;
    background-color: #E3436D;
    width: 100px;
    margin: 10px auto;
}

.slider{
    position: relative;
    margin-top: 60px;
    overflow: hidden;
}
#bck{
    position: absolute;
    top: 60%;
    left: 6%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 55px;
    z-index: 5;
    background-color: transparent;
    transition: all 0.5s;
}
#fwd{
    position: absolute;
    top: 60%;
    right: 6%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 55px;
    z-index: 5;
    background-color: transparent;
    transition: all 0.5s;
}
.pop-up{
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: bottom 0.5s;
}
.pop-up h2{
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0;
}
.pop-up p{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
}
.slider:hover img{
    opacity: 0.4;
    cursor: pointer;
}
.slider:hover .pop-up{
    position: absolute;
    bottom: 10px;
}
img{
    transition: opacity 0.5s;
}
#fwd:hover, #bck:hover{
    background-color: #bebebe;
    border-radius: 50%;
}

.section-b{
    background-color: #dddddde3;
    padding: 60px 70px 20px 70px;
    text-align: center;
    color: black;
}
.section-b p{
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 1.8;
    font-size: 13px;
}

.section-b h3{
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 10px;
    margin-top: 40px;
}
li{
    text-align: left;
    font-weight: 200;
    margin: 0 auto;
}

.section-c{
    width: 80%;
    margin: 80px auto;
    text-align: center;
}
.row:first-of-type{
    margin-top: 60px;
}
.col{
    background: linear-gradient(rgba(0, 0, 0, 0.121), rgb(255, 255, 255));
    transition: all 0.5s;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
    height: 30%;
}
.gitlink{
    text-decoration: none;
}
.section-c p{
    margin-top: 20px;
    color: black;
}
.col:hover {
    transform: scale(1.2);
    background: linear-gradient(#fc5c65, rgba(0, 0, 0));
    box-shadow: 10px 10px 20px #3a3636ee;    
}
.col:hover h2:after{
    background-color: rgba(255, 255, 255, 0.274);
}
.col:hover p{
    color: white;
}

.section-d{
    background: linear-gradient(rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.863));
    text-align: center;
    align-items: center;
    padding: 80px 80px 50px 80px;
}
form{
    width: 50%;
    margin: 60px auto 0px auto;
}

input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}
.section-d a{
    display: block;
    margin: 50px 0 20px 0;
    width: 50%;
    transform: translateX(50%);
    padding: 10px 5px;
    border-radius: 7px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    background-color: white;
    color: #232323;
}
.section-d a:hover{
    border: 1px solid white;
    color: white;
    background-color: #232323;
}
footer{
    background: url("/assets/bkhft.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    height: 30%;
    background-attachment: fixed;
    color: black;
    position: relative;
}
footer ul{
    list-style: none;
    
}
footer ul a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 0 20px;
}
footer ul li{
float: left;
}
footer h1{
    font-weight: 500;
}
.links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.links a:hover{
    color: #E3436D;
    border-bottom: 1px solid #E3436D;
}
.base{
    text-align: center;
    padding: 5px 0;
    background-color: #232323;
    color: white;
    font-weight: 300;
}
#toggle-bar{
    position: fixed;
    top: 0;
    left: -500;
    width: 0%;
    z-index: 10;
    background: linear-gradient(rgba(20, 20, 20),rgba(20, 20, 20));
    height: 100vh;
    padding: 50px;
    text-align: center;
    transition: all 0.5s;
    
}

#toggle-bar ul{
    list-style: none;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
#toggle-bar li a{
    text-decoration: none;
    font-weight: 200;
    color: white;
    transition: all 0.2s;
}
#toggle-bar h1{
    color: #E3436D;
    font-weight: 500;
    margin-top: 20px;
}
#cross{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size:30;
    cursor: pointer;
    transition: all 0.2s;
}
#cross:hover {
    color:  #E3436D;
}

#toggle-bar li{
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}
#toggle-bar li a:hover{
    color: #E3436D;
    transform: scale(1.1);
    letter-spacing: 2;
    
}
#hamburgerIcon{
    color: white;
    /* float: left; */
    position: absolute;
    top: 2px;
    left: 25px;
    font-size: 35px;
    z-index: 9;
    cursor: pointer;
    transition: all 0.2s;
    display: none;
}
#hamburgerIcon:hover{
    transform: scale(1.2) rotate(360deg);
    color: #E3436D;
}
#eml{
    cursor: pointer;
}