*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: spartan;
    color: white;
}
/* .nav-container{
    float: left;
    width: 5%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-container ul{
    list-style: none;
    transform: translateY(50%);
    
}
.nav-container ul a{
    text-decoration: none;
    color: white;
}
.nav-container ul li{
    margin-top: 30px;
} */
header{
    background: linear-gradient(rgb(0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("/assets/bkh12.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    position: relative;
}
h1{
    margin: 0;
    font-family: spartan;
    font-weight: 200;
    letter-spacing: 2px;
}
h3{
    margin: 0;
    font-family: spartan;
    font-weight: 200;
    font-size: 15px;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2{
    margin: 0;
    font-family: spartan;
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
}
.text-box a{
    text-decoration: none;
    border: 1px solid white;
    font-family: spartan;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 10px 15px;
    color: #E3436D;
    letter-spacing: 0px;
    transition:  all 0.4s;
}
.text-box a:hover{
    border-color: #E3436D;
    letter-spacing: 0px;
    border: 1px solid white;
    border-radius: 50px;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span{
    color: #E3436D;
}
.section-a{
    background-color: white;
    position: relative;
    padding: 70px 70px 100px 70px;
    text-align: center;
    color: black;
    
}
.section-a h1, .section-b h1{
    margin: 0;
    font-family: spartan;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
}
.section-a h1:after , .section-b h1:after{
    content: " ";
    display: block;
    height: 2px;
    background-color: #E3436D;
    width: 100px;
    margin: 10px auto;
}

.slider{
    position: relative;
    margin-top: 60px;
    overflow: hidden;
}
.slider #bck{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    background-color: transparent;
    transition: all 0.5s;
}
.slider #fwd{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 50px;
    background-color: transparent;
    transition: all 0.5s;
}
.pop-up{
    position: absolute;
    bottom: -70px;
    left: 70px;
    text-align: left;
    transition: bottom 0.5s;
}
.pop-up h2{
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0;
}
.slider:hover img{
    opacity: 0.4;
    cursor: pointer;
}
.slider:hover .pop-up{
    position: absolute;
    bottom: 10px;
}
img{
    transition: opacity 0.5s;
}
#fwd:hover, #bck:hover{
    background-color: #bebebe;
    border-radius: 50%;
}

.section-b{
    background-color: #dddddde3;
    padding: 60px 70px 20px 70px;
    text-align: center;
    color: black;
}
.section-b p{
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 1.8;
    font-size: 13px;
}

.section-b h3{
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 10px;
    margin-top: 40px;
}
li{
    text-align: left;
    font-weight: 200;
    margin: 0 auto;
}

.section-c{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.col{
    background-color: #E3436D;
    transition: all 0.5s;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.section-c p{
    margin-top: 20px;
}
.col:hover {
    transform: translate(1.5);
}

input,button{
    display: block;
}

